{{#if conversation}}
    <div class="user-header">
        <div class="avatar">{{profile-image person=target}}</div>
        <div class="name">{{await target.name}}</div>
    </div>
    <div class="action-header">
        <button class="initiate-call ion-ios-telephone" {{action "makeCall"}}></button>
    </div>

    {{messages-panel messages=conversation.sortedMessages}}

    <div class="input-footer">
        <textarea onkeydown={{action "keydown" on="keydown"}}></textarea>
    </div>
{{else}}
    <div class="empty-panel">
        {{loading-icon}}
    </div>
{{/if}}
