{{#if conversation}}

    <div class="user-header">
        <div class="avatar">{{profile-image person=target}}</div>
        <div class="name">{{target.displayName}}</div>
    </div>
    <div class="action-header">
        <button class="initiate-call">&nbsp;</button>
    </div>

    {{messages-panel messages=conversation.messages}}

    <div class="input-footer">
        <textarea onkeyup={{action "keyup"}}></textarea>
    </div>

{{else}}
    No active conversation
{{/if}}