{{#if conversation}}

    <div class="user-header">
        {{target.name}}
    </div>
    <div class="action-header">
        <button class="initiate-call">&nbsp;</button>
    </div>
    <div class="messages-panel">
        {{#each conversation.messages as |message|}}
            <div class="message">
                <div class="avatar">
                    {{profile-image person=message.sender}}
                </div>
                <div class="body">
                    <div class="user">
                        {{message.sender.displayName}}
                        <span class="timestamp">{{message.timestamp}}</span>
                    </div>
                    <div class="text">{{message.text}}</div>
                </div>
            </div>
        {{/each}}
    </div>
    <div class="input-footer">
        <textarea onkeyup={{action "keyup"}}></textarea>
    </div>

{{else}}
    No active conversation
{{/if}}