{{user-status-bar user=skype.user}}

<h4>Search</h4>
<div class="search">
<input class="search-input" type="text" onchange={{action "searchHandler"}} />
{{#each searchResults as |result|}}
    <div class="search-result" {{action "addContact"}}>{{result.name}}</div>
{{/each}}
</div>

<h2>Roster</h2>

<div class="groups">
    {{#each groups as |group|}}
        <div class="group-entry">

            <div class="group-name">{{group.name}}</div>

            {{#each group.persons as |person|}}
                <button class="group-member" onclick={{action "clickContact" person}}>

                    <span class="avatar"><img src={{person.avatarUrl}} /></span>
                    <span class="person-name">{{person.displayName}}</span>

                </button>
            {{else}}
                <div class="no-members">No members</div>
            {{/each}}

        </div>
    {{/each}}
</div>
