{{user-status-bar user=skype.user}}

<h2>Roster</h2>

<div class="groups">
    {{#each groups as |group|}}
        <div class="group-entry">

            <div class="group-name">{{group.name}}</div>

            {{#each group.persons as |person|}}
                <button class="group-member" onclick={{action "clickContact" person}}>

                    <img src={{person.avatarUrl}} />
                    <div class="person-name">{{person.displayName}}</div>

                </button>
            {{/each}}

        </div>
    {{/each}}
</div>
