<div class="heading">
    <h3>
        {{t "components.roster-list.skypeContacts"}}
    </h3>
</div>

<div class="search-container">
    <div class="search-input">
        <input class="search-input"
               type="text"
               placeholder="{{t 'components.roster-list.searchPlaceholder'}}"
               onkeyup={{action "searchHandler"}}>

        <i class="ion-search"></i>
    </div>

    <div class="search-results {{if hideSearch 'hide'}}">
        {{#if (is-pending searchResults)}}
            <div class="search-result loading">
                {{t "components.roster-list.loadingResults"}}
            </div>
        {{else}}
            {{#each (await searchResults) as |result|}}
                <div class="search-result">
                    <a href="#" {{action "selectSearchResult" result}}>
                        <span class="name">{{result.displayName}}</span>
                    </a>
                </div>
            {{else}}
                <div class="search-result empty">
                    {{t "components.roster-list.noResults"}}
                </div>
            {{/each}}
        {{/if}}
    </div>
</div>

<div class="roster-group direct-messages">
    <div class="roster-heading">
        <h3>
            {{t "components.roster-list.directMessages"}}
        </h3>
    </div>

    <div class="roster-entries">
        {{#each activeConversations as |conversation|}}
            {{#link-to "conversation.detail" conversation.id class="roster-entry"}}
                {{presence-indicator user=conversation.conversationTarget}}

                <div class="name">
                    {{await conversation.name}}
                </div>

                {{#if conversation.badgeCount}}
                    <div class="badge-count">
                        <span class="number">{{conversation.badgeCount}}</span>
                    </div>
                {{/if}}

                <div class="close">
                    <i class="ion-close-circled"></i>
                </div>
            {{/link-to}}
        {{/each}}
    </div>
</div>

