<div class="heading">
    <h3>
        Skype Contacts
    </h3>

    <div class="controls">
        <i class="ion-gear-b"></i>
        <i class="ion-plus"></i>
    </div>
</div>

<div class="search-container">
    <div class="search-input">
        <input class="search-input"
            type="text"
            placeholder="Start a conversation"
            onkeyup={{action "searchHandler"}}>

        <i class="ion-search"></i>
    </div>

    <div class="search-results {{if hideSearch 'hide'}}">
        {{#if (is-pending searchResults)}}
            <div class="search-result loading">
                Loading results...
            </div>
        {{else}}
            {{#each (await searchResults) as |result|}}
                <div class="search-result">
                    <a href="#" {{action "selectSearchResult" result}}>
                        <span class="name">{{result.displayName}}</span>
                    </a>
                </div>
            {{else}}
                <div class="search-result empty">
                    No results...
                </div>
            {{/each}}
        {{/if}}
    </div>
</div>

<div class="roster-group direct-messages">
    <div class="roster-heading">
        <h3>
            Direct Messages
        </h3>
    </div>

    <div class="roster-entries">
        {{#each activeConversations as |conversation|}}
            <div class="roster-entry" {{action "selectConversation" conversation}}>
                {{presence-indicator person=person}}

                <div class="name">
                    {{conversation.name}}
                </div>

                <div class="close">
                    <i class="ion-close-circled"></i>
                </div>
            </div>
        {{/each}}
    </div>
</div>

<div class="roster-group person-groups">

</div>

{{!--
<div class="conversations">
    {{#each activeConversations as |conversation|}}
        <button class="conversation" onclick={{action "clickConversation" conversation}}>
            {{conversation.conversationTarget.name}}
        </button>
    {{/each}}
</div>

<div class="groups">
    {{#each generalContacts as |person|}}
        <button class="group-member" onclick={{action "clickContact" person}}>
            <span class="avatar">
                {{profile-image person=person}}
            </span>
            <span class="person-name">
                {{person.displayName}}1
            </span>
        </button>
    {{else}}
        <div class="no-members">No members</div>
    {{/each}}

    <!-- {{#each groups as |group|}}
        <div class="group-entry">

            <div class="group-name">{{group.name}}</div>

            {{#each group.persons as |person|}}
                <button class="group-member" onclick={{action "clickContact" person}}>
                    <span class="avatar">
                        {{profile-image person=person}}
                    </span>
                    <span class="person-name">
                        {{person.displayName}}
                    </span>
                </button>
            {{else}}
                <div class="no-members">No members</div>
            {{/each}}

        </div>
    {{/each}} -->
</div>
--}}
