{{#basic-dropdown as |dropdown|}}
    {{#dropdown.trigger}}
        <div class="profile-picture">
            {{profile-image person=user}}
        </div>
    {{/dropdown.trigger}}
    {{#dropdown.content}}
        {{presence-selector}}
    {{/dropdown.content}}
{{/basic-dropdown}}

<div class="information">
    <div class="name">
        {{user.displayName}}
    </div>

    <div class="presence {{user.presenceClass}}">
        {{user.presence}}
    </div>
</div>

