{{#if auth.isLoggedIn}}
    <div class="skype-for-business-app">
        {{roster-list}}
        {{conversation-pane}}
    </div>
{{else}}
    <div class="login">
        <button {{action "startAuth"}}>
            Login
        </button>

        {{#if closedPopup}}
            <span class="closed-popup-error">
                In order to access PureCloud's Skype for Business integration, please authenticate with Microsoft services in the provided popup window.
            </span>
        {{/if}}
    </div>

    <div class="admin-consent">
        <a href="{{adminConsentUrl}}" target="consent">
            Are you an organization admin? Give application consent here.
        </a>
    </div>
{{/if}}
