<div class="login">
    {{#if authenticating}}
        {{loading-icon}}
    {{else}}
        <button {{action "startAuth"}}>
            {{t "login.loginButton"}}
        </button>

        {{#if closedPopup}}
            <span class="error-message">
                {{t "errors.auth.closedPopup"}}
            </span>
        {{else if errorMessage}}
            <span class="error-message">
                {{errorMessage}}
            </span>

            {{#if errorDetailsMessage}}
                <div class="more-details">
                    <a href="#" {{action "toggleMoreErrorDetails"}}>
                        {{#if hideMoreDetails}}
                            {{t "errors.showMore"}}
                        {{else}}
                            {{t "errors.showLess"}}
                        {{/if}}
                    </a>

                    <span class="error-message {{if hideMoreDetails 'hide'}}">
                        {{errorDetailsMessage}}
                    </span>
                </div>
            {{/if}}
        {{/if}}
    {{/if}}
</div>

<div class="admin-consent">
    <a href="{{adminConsentUrl}}" target="consent">
        {{t "login.adminConsentMessage"}}
    </a>
</div>
